import(geiger)
import(ape)
import(ouch)
import(snowfall)
import(TreeSim)
import(odesolve)
import(laser)


## pmc_model.R: a generic wrapper to help any packae with a fit 
## and simulate method use the pmc package functions
export(pmc_model, simulate.pmc_model, update.pmc_model, getParameters.pmc_model, loglik.pmc_model, pmc) 


## montecarlotest.R fns 
export(plot.pow, montecarlotest, loglik, getParameters, KL_divergence, plot_par_dists)


## confidenceIntervals.R fns 
export(confidenceIntervals.pow)
## treeformats.R 
export(convert, treepalette)
##powercurves.R 
export(treepower)

## object_oriented_geiger.R fns
export(fitContinuous_object, simulate.fitContinuous, update.fitContinuous, loglik.fitContinuous, getParameters.fitContinuous, fitcts)
## object_oriented_ouch.R fns
export(loglik.browntree, loglik.hansentree, getParameters.browntree, getParameters.hansentree)

