S3method(getParameters,browntree)
S3method(getParameters,fitContinuous)
S3method(getParameters,hansentree)
S3method(get_data,fitContinuous)
S3method(get_data,ouchtree)
S3method(get_phy,fitContinuous)
S3method(get_phy,ouchtree)
S3method(loglik,fitContinuous)
S3method(loglik,hansentree)
S3method(plot,pmc)
S3method(update,fitContinuous)
export(convert)
export(format_data)
export(mrcaOUCH)
export(paintBranches)
export(plot_pars)
export(pmc)
export(pmc_fit)
export(treepalette)
export(treepower)
import(TreeSim)
import(ape)
import(geiger)
import(ggplot2)
import(ouch)
import(reshape)
import(snowfall)
