S3method(getParameters,browntree)
S3method(getParameters,hansentree)
S3method(loglik,hansentree)
export(convert)
export(format_data)
export(pmc)
export(pmc_fit)
import(geiger)
import(ouch)
import(reshape)
import(snowfall)
